html {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Dosis, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #515151;
  letter-spacing: -.025rem;
}

.post-title, .page-title, .post-title a {
  color: #515151;
}


@media print {

  .sidebar, .masthead, .sidebar-toggle {
    display: none;
  }

  .no-print {
    display: none;
  }

  .page-title {
    display: none;
  }

  body {
    font-size: 9pt;
  }

  .container {
    max-width: 52rem;
  }
}
